[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2"
djangorestframework = "*"
python-slugify = "*"
django-cleanup = "*"
django-js-asset = "*"
django-ckeditor = "*"
django-model-utils = "*"
django-on-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.10.4"
