{% extends "home.html" %}
{% block body %}

<div class ="row">
        <div id="article-post" class="articlelist">
          <article-post
            v-for="article in posts"
            v-bind:key="article.id"
            v-bind:title="article.title"
          ></article-post>
        </div>

        {% comment %} <div class="col-md-10 offset-md-3">
            <div class="col-lg-8">
                <h3>Articles</h3>
                <br>
                </div>
        </div> {% endcomment %}
</div>
<div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <form>
                 {% csrf_token %} 
                <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Search...">
              <button type="submit" class="btn btn-danger">Search</button>
            </form>
      </div>
    </div>

</div>


{% if articles %}

{% for article in articles %}
<div class="row">
    <div class="col-md-10 offset-md-3">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      {% comment %} <!--Subject-->

      <a href="{% url 'aoc:detail' article.slug %}"><h2 class="mt-4">{{aoc.subject}}</h2></a>  {% endcomment %}
      
      <!-- Title -->
      <a href="{% url 'article:detail' article.slug %}"><h2 class="mt-4">{{article.title}}</h2></a> 
        
      <!-- Author -->
      <p class="lead">
        
      </p>Posted By: {{article.author.username}} 
      
      <!--  -->
      <p>{{article.status}}</p>

      <hr>

      <!-- Date/Time -->
      <p>{{article.created_date}}</p>
      <hr>
      <!-- Preview Image -->
      {% if article.article_image %}
      <a href="{% url 'article:detail' article.slug %}"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt=""></a>
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe|truncatewords:50}}
      </p>

      <a href="{% url 'article:detail' article.slug %}" class ="btn btn-danger my-3">Read More</a>
      <hr>
         
        </div>
      </div>
      </div>

{% endfor %}


{% else %}
<div class ="row">
    
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
<div class = "alert alert-danger">
   No Article Found
</div>
</div>
</div>
</div>
{% endif %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    Vue.component("article-post", {
      props: ["title"],
      template: "<h3>{{ title }}</h3>"
    });
 
    new Vue({
      el: "#article-post",
      data: {
        posts: []
      },
      created: function() {
        // Alias the component instance as `vm`, so that we
        // can access it inside the promise function
        var vm = this;
        // Fetch our array of posts from an API
        fetch("/apis/v1/")
          .then(function(response) {
            return response.json();
          })
          .then(function(data) {
            vm.posts = data;
          });
      }
    });
  </script>
  {% endblock scripts %}