{% extends "home.html" %}

{% block body %}
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <large><h3 class="mt-4">{{article.title}}</h3></large>

      <!-- Author -->
      <p class="lead">
        
        {{article.author.username}} Posted By
      </p>

      <hr>

      <!-- Date/Time -->
      <large><p>{{article.created_date}}</p></large>

      <hr>

      <!-- Preview Image -->
      {% if article.article_image %}
      <img class="img-fluid rounded" src="{{article.article_image.url}}" alt="">
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{article.content|safe}}
      </p>

      <hr>

      <h4><large>Comments</large> {% if comments %}({{comments.count }}){% endif %}</h4>
      <br>
      {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{ comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
          </div>
        </div>
      {% endfor %}
      
      
      {% else %}
      <div class ="alert alert-danger">
        There are no comments for this article.
      </div>
      {% endif %}

      <div class="card my-4 container">
          <h5 class="card-header"></h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' article.slug %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="formGroupExampleInput"><large>Name</large></label>
                  <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Name">
                </div>
              <div class="form-group">
                  <label for="formGroupExampleInput"><large>Comment</large></label>
                <textarea name = "comment_content" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Comment" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger my-3"><large>Add Comment</large></button>
            </form>
          </div>
        </div>
        </div>
        
      </div>

      

{% endblock body %}
