{% extends "home.html" %}


{% block body %}
<div class="jumbotron text-center">
        <h3>Welcome to Articlulate_me</h3>
        <p>Article Contributers Please Register and Login</p>
</div>


<p>
        {% if request.user.is_authenticated %}
                You are signed in: {{request.user.username}}<br><br><large>Please use the "DASHBOARD" to get started.</large>
        {% else %}
        <large>YOU ARE NOT SIGNED-IN.</large><br><br><large>Please "Register And/Or Sign-In" to begin.</large>
        {% endif %}

</p>
{% endblock body %}

